{
	"semi": true,
	"tabWidth": 4,
	"trailingComma": "none",
	"importOrder": ["<THIRD_PARTY_MODULES>", "^@arrecife/(.*)$", "^[./]"],
	"importOrderSeparation": true,
	"decoratorsBeforeExport": true,
	"importOrderParserPlugins": ["typescript", "decorators-legacy"],
	"useTabs": true,
	"singleQuote": true,
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
